@inherits LayoutComponentBase

<Icons />

<PageTitle>MRequesterr</PageTitle>

<NavMenu />
<div class="container-fluid" style="display: flex">
    <Sidebar />   
    <main>
        <div class="vw-100">
            @Body
        </div>
    </main>
</div>
