.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}


/*
.top-row {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

  .top-row ::deep a, .top-row .btn-link {
      white-space: nowrap;
      margin-left: 1.5rem;
  }

  .top-row a:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
  }

@media (max-width: 640.98px) {
  .top-row:not(.auth) {
      display: none;
  }

  .top-row.auth {
      justify-content: space-between;
  }

  .top-row a, .top-row .btn-link {
      margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page {
      flex-direction: row;
  }

  .sidebar {
      width: 250px;
      height: 100vh;
      position: sticky;
      top: 0;
  }

  .top-row {
      position: sticky;
      top: 0;
      z-index: 1;
  }

  .top-row, article {
      padding-left: 2rem !important;
      padding-right: 1.5rem !important;
  }
}
*/
